html {
    font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 200;
}

body {
    background-color: #C1FFB0;
    margin: 0 auto;
}
    
h1 {
    border: 1px solid black;
}

#header {
    background-color: black;
    height: 60px;
    width:100%;
    position: fixed;
    z-index: 1;
}
#content {
    position: relative;;
    top: 60px;
    overflow-y:scroll;        
}
/* Dropdown Button */
.dropdownbtn {
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

.dropdownbtn:hover {
    background-color: #C1FFB0;
}

/* The container <div> - needed to position the dropdown content */
/* .dropdown {
    position: relative;
    display: inline-block;
} */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}