html {
    font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 200;
}

body {
    background-color: #C1FFB0;
    margin: 0 auto;
}
    
h1 {
    border: 1px solid black;
}

.header {
    background-color: black;
    height: 60px;
    top:0px;
    width:100%;
}
