html {
    font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 200;
    overflow-y: scroll;
    text-align: justify;
}

/* Fits all content in the screen box ignoring scroll bars */
* {
    box-sizing: border-box;
}

body {
    background-color: #C1FFB0;
    margin: 0 auto;
}

#header {
    background-color: black;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
}

main {
    position: relative;
    top: 60px;
}

img {
    max-width:100%;
    max-height:100%;
}

#profile-pic {
    position: absolute;
}

.img-circle {
    border-radius: 50%;
    border: 2px solid white;
}

/* Center image and set size to 300px */
.img-box {
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

main > div {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* each even child element of main gets white background 
padding 1px is present, so the h1 margin is filled with white BG*/
main > :nth-of-type(2n) {
    padding-top: 1px;
    background-color: white;
}

/* Each element that is a part of a 'chapter' */
main > div > * {
    margin-left: 8px;
    margin-right: 8px;
}