@media (min-width: 655px) {
    nav {
        display: none;
    }

    main {
        top: 0px;
    }

    aside {
        visibility: visible;
    }

    .content {
        width: 60%;
        max-width: 100%;
    }
}